// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.slide {
	height: 30%;
 	width: 80%;
  position: relative;
  left: 10%;
}

.product-list {
	margin: 5px 25px;
  border: 1px solid #0000008a;
  padding: 36px;
}